<%= turbo_frame_tag 'game_items', data: { 'search-select-target': 'dataListFrame' } do %>
  <fieldset>
    <div class="mt-4 grid grid-col-1 gap-4 border-t border-b border-gray-light max-h-96 overflow-scroll">
      <% @game_items.each do |game_item| %>
        <div class="relative flex items-start p-4 bg-white rounded">
          <div class="min-w-0 flex-1 text-sm">
            <label for="side-null" class="select-none font-medium text-gray-dark"><%= game_item.name %></label>
          </div>
          <div class="ml-3 flex h-5 items-center">
            <input name="auction_item[game_item_id]" type="radio" class="h-4 w-4 border-gray-dark text-brand-dark focus:ring-brand-dark" value="<%=game_item.id %>">
          </div>
        </div>
      <% end %>
    </div>
  </fieldset>
<% end %>