
<%= cache(cache_key, skip_digest: true) do %>
  <% @notification = @notification.to_notification %>
  <%= turbo_frame_tag request.headers['Turbo-Frame'] do %>
    <div class="sm:flex sm:justify-between sm:items-baseline">
      <h3 class="text-base font-medium">
        <span class="text-gray-dark">Auctioneer</span>
        <span class="text-gray-dark">wrote</span>
      </h3>
      <p class="mt-1 text-sm text-gray-dark whitespace-nowrap sm:mt-0 sm:ml-3">
        <time datetime="2021-01-28T19:24"><%= time_ago_in_words(@notification.record.created_at) %> ago</time>
      </p>
    </div>
    <div class="mt-4 space-y-6 text-sm text-gray-dark">
      <p><%= @notification.message %></p>
    </div>
  <% end %>
<% end %>