
<div class='flex flex-col items-center'>
  <div class='text-3xl font-bold mb-8'>
    Uh-oh. Nothing is here.
  </div>
  <div class='w-1/2 mx-auto flex justify-center'>
    <%= image_tag('404-illustration.svg', class: 'block h-[400px]') %>
  </div>
</div>