<div class='flex flex-col items-center'>
  <div class='text-3xl font-bold mb-8'>
    Uh-oh. Can&apos;t show you whats here unfortunately.
  </div>
  <div class='w-1/2 mx-auto flex justify-center'>
    <%= image_tag('401-illustrustration.svg', class: 'block h-[400px]') %>
  </div>
</div>
