<div id="<%= dom_id auction_item %>">
  <p>
    <strong>Title:</strong>
    <%= auction_item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= auction_item.description %>
  </p>

</div>
