<div class="w-full">
  <div class="mx-auto">
    <%= link_to 'Back to auction_items', auction_items_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= render @auction_item %>

    <div class="inline-block ml-2">
      <%= button_to 'Destroy this auction_item', auction_item_path(@auction_item), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>

    <hr class="my-6">
    <%= turbo_frame_tag :auction_offers, src: auction_item_auction_offers_path(@auction_item) %>
  </div>
</div>