<%= turbo_frame_tag :new_offer do %>
  <% if @current_user_offer.present? %>
    <%= render AuctionOfferComponent.new(auction_offer: @current_user_offer, actions_enabled: false) %>
  <% else %>
    <%= turbo_frame_tag 'offer_form' do%>
      <div>You have not submitted an offer for this item yet</div>
      <%= link_to 'Submit your offer', new_auction_item_auction_offer_path(@auction_item), method: :get %>
    <% end %>
  <% end %>
<% end %>