<%= turbo_frame_tag :new_offer do %>
  <div class='flex justify-center w-full'>
    <% if @current_user_offer.present? %>
      <%= render AuctionOfferComponent.new(auction_offer: @current_user_offer, actions_enabled: false, current_user: current_user) %>
    <% else %>
      <%= turbo_frame_tag 'offer_form' do %>
        <div class='flex items-center flex-col gap-4 my-4'>
          <div class='text-lg text-gray-light'>You have not submitted an offer for this item yet</div>
          <%= link_to 'Submit your offer', new_auction_item_auction_offer_path(@auction_item), method: :get, class: "rounded-lg py-3 px-5 bg-accent-primary text-white block font-medium" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>